name: AndroidBuild

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        use: actions/checkout@v4.1.1

      - name: Setup Java JDK
        uses: actions/setup-java@v4.0.0

      - name: Build Gradle
        uses: ./gradlew build

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.0.0
        with:
          name: SaKa.apk
          path: app/build/outputs/apk/app-debug.apk